@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

:root {
  --crimson: rgb(226, 0, 116);
  --smokewhite: AntiqueWhite;
  --white: #fff;
  --black: #111;
  --black2: #222;
  --black3: #333;
  --lightgrey: lightgrey;
}

html {
  font-size: calc(10px + 0.390625vw);
}

p,a{

  font-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
}

section {
  padding-top: 100px;
  width: 100%;
  width: 100%;
  min-height: 100vh;
}

section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  padding-bottom: 10px;
  margin-bottom: 50px;
  font-family: "Ubuntu", sans-serif;
}

section .title::before {
  /*alsóvonal a cím alatt, absolute pozícionálással a relatív titlehez képest*/

  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: var(--black);
  transform: translateX(-50%);
}

section .title::after {
  position: absolute;
  bottom: -12px;
  left: 50%;
  font-size: 20px;
  color: var(--crimson);
  padding: 5px;
  background: var(--white);
  transform: translateX(-50%);
}

.max-width {
  max-width: 1300px;
  padding: 0 30px;
  margin: auto;

}

.about,
.services,
.skills,
.portfolio,
.contact {
  font-family: "Poppins", sans-serif;
}

/*flexbox tárolók*/

.about .about-content,
.services .services-content,
.skills .skills-content,
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

/* NAV BAR */

.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0px;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.7s ease;
}

.navbar .max-width {
  /*flexbox tároló*/

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  color: var(--smokewhite);
  font-size: 35px;
  font-weight: 600;
}

.navbar .logo a span {
  color: var(--crimson);
  transition: all 0.7s ease;
}

.navbar .menu li {
  display: inline-block; /* ezzel kerül egy sorba a menüsor */
}

.navbar .menu li a {
  display: block;
  color: var(--smokewhite);
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.7s ease;
}

.navbar .menu li a:hover {
  color: var(--crimson);
}

.navbar.sticky {
  padding: 15px 0;
  background: var(--crimson);
}

.navbar.sticky .logo a span {
  color: AntiqueWhite;
}

.navbar.sticky .menu li a {
  color: AntiqueWhite;
}

.navbar.sticky .menu li a:hover {
  color: var(--smokewhite);
}

.menu-btn {
  color: var(--smokewhite);
  font-size: 23px;
  cursor: pointer;
  display: none;
}

/* SCROLL UP BUTTON SECTION */

.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: var(--crimson);
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: var(--white);
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.8s ease;
}

.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}

/* HOME SECTION */

.home {
background-color: black;
  height: 100vh;

}

.home .max-width .home-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--smokewhite);
  font-family: "Ubuntu", sans-serif;
  width: 100%;
  height: 100%;

}
.home .max-width .home-content{
  height: 100vh;
}


.home .max-width .home-content .textdiv{
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 3;
  padding-bottom: 30px;

}

.home .max-width .home-content .picdiv{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.home .max-width .home-content .picdiv img{
  width: 35rem;
  height: 35rem;

}

.home .home-content .text-1 {
  font-size: 27px;
  margin-bottom: 20px;
}

.home .home-content .text-2 {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.home .home-content .text-3 {
  font-size: 2.6rem;
  margin-bottom: 20px;
}

.home .home-content .text-2 span {
  color: var(--crimson);
  font-weight: 500;
}

.home .home-content a {
  display: inline-block;
  background: var(--crimson);
  color: var(--smokewhite);
  font-size: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 6px;
  border: 2px solid var(--crimson);
  transition: all 0.7s ease;
  width: 8rem;
  text-align: center;
}

.home .home-content a:hover {
  color: var(--crimson);
  background: none;
}

/* ABOUT PART */

.about .max-width{
  min-height: 100vh;
  padding-bottom: 20px;
}

.about .title::after {
  content: "";
}

.about .about-content{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: row;
}

.about .about-content .left img {
  height: 30rem;
  width: 30rem;
  object-fit: cover;
}

.about .about-content .right {
  width: 30rem;
}

.about .about-content .right .text {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.about .about-content .right .text span {
  color: var(--crimson);
}

.about .about-content .right p {
  text-align: justify;
}

.about .about-content .right a {
  display: inline-block;
  background: var(--crimson);
  color: var(--smokewhite);
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid var(--crimson);
  transition: all 0.7s ease;
}

.about .about-content .right a:hover {
  color: var(--crimson);
  background: none;
}

.experiences {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 6px;
  color: var(--crimson);
}

.exp_title {
  font-weight: 500;
}

/* SERVICES PART */

.services,
.portfolio {
  color: var(--smokewhite);
  background: var(--black);
}

.services .title::before,
.portfolio .title::before {
  background: var(--smokewhite);
}

.services .title::after,
.portfolio .title::after {
  background: var(--black);
  content: "";
}

.services .max-width{

  padding-bottom: 20px;

}


.services .services-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.services .services-content .card {
 max-width: 320px;
  background: var(--black2);
  text-align: center;
  border-radius: 6px;
  padding: 20px 25px;
  transition: all 0.5s ease;
  min-height: 400px;
}

.services .services-content .card:hover {
  background: var(--crimson);
}

.services .services-content .card .box {
  transition: all 0.5s ease;
}

.services .services-content .card:hover .box {
  transform: scale(1.05);
}

.services .services-content .card i {
  font-size: 50px;
  color: var(--crimson);
  transition: color 0.8s ease;
}

.services .services-content .card:hover i {
  color: var(--smokewhite);
}

.services .services-content .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}

.p2 {
  margin-top: 20px;
}

/*SKILLS PART*/

.skills .title::after {
  content: "";
}

.skills .skills-content{
  align-items: flex-start;
}
.skills .skills-content .column {
  width: calc(50% - 30px);
}

.skills .skills-content .left p {
  text-align: justify;
  margin-bottom: 30px;
}

.skills .skills-content .left a {
  display: inline-block;
  background: var(--crimson);
  color: var(--smokewhite);
  font-size: 18px;
  font-weight: 500;
  padding: 8px 16px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid var(--crimson);
  transition: all 0.8s ease;
}

.skills .skills-content .left a:hover {
  color: var(--crimson);
  background: none;
}

.skills .skills-content .right .bars {
  margin-bottom: 15px;
}

.skills .skills-content .right .info {
  /*flexbox tároló*/

  display: flex;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
}

.skills .skills-content .right span {
  font-weight: 500;
  font-size: 18px;
}

.skills .skills-content .right .line {
  height: 5px;
  width: 100%;
  background: var(--lightgrey);
  position: relative;
}

.skills .skills-content .right .line::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: var(--crimson);
}

.skills-content .right .info span{
font-size: 1.2rem;
}

.skills-content .right .html::before {
  width: 90%;
}

.skills-content .right .css::before {
  width: 80%;
}

.skills-content .right .js::before {
  width: 75%;
}

.skills-content .right .ts::before {
  width: 30%;
}

.skills-content .right .react::before {
  width: 40%;
}

.skills-content .right .sql::before {
  width: 30%;
}

.skills-content .right .nosql::before {
  width: 30%;
}

/*PORTFOLIO PART*/

.portfolio .max-width .portdiv{
  text-align: center;
}

.portfolio .max-width a {
  color: var(--smokewhite);
}
/* CONTACT PART */

.contact .contact-content .column {
  width: calc(50% - 30px);
}

.contact .contact-content .left p {
  text-align: justify;
}

.contact .contact-content .left .icons {
  margin-top: 30px;
}

.contact .contact-content .row {
  display: flex;
  height: 65px;
  align-items: center;
}

.contact .contact-content .row .info {
  margin-left: 30px;
}

.contact .contact-content .row i {
  font-size: 25px;
  color: var(--crimson);
}

.contact .contact-content .info .head{
  font-weight: 500;
  color: var(--crimson);
  font-size: 1rem;
}
.contact .contact-content .info .sub-title{
  font-size: 1rem;
}


.contact .right{
  min-height: 312px;
  display: flex;
  align-items: flex-end;
}

.contact .right form{
  width: 100%;
}

.contact .right form .fields {
  display: flex;
}

.contact .right form .field,
.contact .right form .fields .field {
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}

.contact .right form .textarea {
  height: 80px;
  width: 100%;
}

.contact .right form .name {
  margin-right: 10px;
}

.contact .right form .email {
  margin-left: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
  height: 100%;
  width: 100%;
  border: 1px solid var(--lightgrey);
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
}

.contact .right form .textarea textarea {
  padding-top: 10px;
  resize: none;
}

.contact .right form .button {
  height: 47px;
  width: 170px;
}

.contact .right form .button button {
  width: 100%;
  height: 100%;
  border: 2px solid var(--crimson);
  background: var(--crimson);
  color: var(--white);
  font-size: 20px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.8s ease;
}

.contact .right form .button button:hover {
  color: var(--crimson);
  background: none;
}

/* FOOTER PART */

footer {
  background: var(--black);
  padding: 20px 23px;
  color: var(--white);
  text-align: center;
  font-family: "Poppins", sans-serif;
}

footer span a {
  color: var(--crimson);
}

footer span a:hover {
  text-decoration: underline;
}


@media (max-width: 947px) {

  .max-width {
    padding: 0 23px;

  }

  .navbar .menu {
    /* mobilos menü beállítása, ha eléri ezt a kéoernyőméretet a menü megjelenik*/
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: var(--black);
    text-align: center;
    padding-top: 80px;
    transition: all 0.8s ease;
    background: rgba(0, 0, 0, 0.85);
  }

  .navbar .menu.active {
    /*ez kell a scriptbe megírt menü ki-be kapcsolásához*/
    left: 0;
  }

  .navbar .menu {
    margin-top: 70px;
  }

  .navbar .menu li {
    display: block; /*inline-block felülírása, ezzel lesz egymás alatt*/
  }

  .navbar .menu li a {
    display: inline-block; /*megnézni, mi van ha kikapcsoljuk*/
    margin: 20px 0; /*menük alatti távolság*/
    font-size: 25px;
  }

  .menu-btn {
    display: block; /*ezzel tesszük láthatóvá, felülírva a display:none*/
    z-index: 999;
  }

  .menu-btn i.active:before {
    /*X jelre vált át a hamburger menü ha actív a mobilmenü*/
    content: "\f00d";
  }

  .home .max-width .home-content .picdiv img{
    display: none;

  }

  .home .max-width .home-content .textdiv{
    width: 100%;
  }

  .about .about-content .right {
    flex: 100%;
    height: 100%;
    padding-bottom: 20px;

  }

  .skills .skills-content .right{
    padding-bottom: 20px;
  }

  .skills .skills-content .column{
    width: 100%;
  }

  .contact .contact-content .left {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 50px;
    width: 100%;
    margin-bottom: 35px;
  }
  .contact .contact-content .left p{
    width: 100%;
  }
  .contact .contact-content .left .icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    column-gap: 40px;
    width: 100%;
  }

  .contact .contact-content .left .icons .row .info{

    margin-left: 15px;
  }

  .contact .contact-content .right{
    width: 100%;
    align-items: flex-start;
  }
}

@media (max-width: 705px){

  .contact .contact-content .left{
    row-gap: 10px;
    margin-bottom: 0;
  }

  .contact .contact-content .left .icons{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 0;
    width: 100%;
  }


}